@keyframes glow {
    0% {
      box-shadow: 0 0 5px 5px rgba(160, 229, 229, 0.5);
    }
    50% {
      box-shadow: 0 0 15px 15px rgba(0, 0, 0, 0.3);
    }
    100% {
      box-shadow: 0 0 5px 5px rgba(160, 229, 229, 0.5);
    }
  }

.custom-main-marker {
    background-color: #a0e5e5;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 4px solid #e6f9f9;
    animation: glow 2s infinite; /* glow 애니메이션 추가 */
  }

  .custom-main-marker-inner {
    background-color: #44b8b8;
    border-radius: 50%;
    width: 16px;
    height: 16px;
  }
  


  
  .custom-image-marker {
    position: relative;
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    overflow: hidden;
  }
  
  .custom-image-marker img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .custom-image-marker:after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid white;
  }
  