@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Pretendard Variable';
  font-style: normal;
  font-weight: 45 920;
  font-display: swap;
  src: url('/fonts/PretendardVariable.ttf') format('truetype-variations'); /* 경로를 확인 */
}

html {
  margin: 0;
  padding: 0;
  height: 100vh;
}

body {
  margin: 0 auto;
  padding: 0;
  height: 100vh;
  min-width: 375px;
  max-width: 500px;
  font-family: 'Pretendard Variable'; /* 기본 폰트 적용 */
}

#root {
  height: 100%;
  position: relative;
}

.scroll::-webkit-scrollbar,
#root::-webkit-scrollbar,
::-webkit-scrollbar {
  display: none; /* 모든 스크롤바 비활성화 */
}
