@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'Pretendard Variable';
  font-weight: 45 920;
  font-style: normal;
  font-display: swap;
  src: url('@/fonts/pretendardvariable/PretendardVariable.ttf')
    format('truetype-variations');
}

html {
  margin: 0px;
  padding: 0px;
  height: 100vh;
}

body {
  margin: 0px auto;
  padding: 0px;
  height: 100vh;
  min-width: 375px;
  max-width: 500px;
  font-family: 'Pretendard Variable';
}

#root {
  height: calc(100vh - 80px);
  position: relative;
}

::-webkit-scrollbar {
  display: none;
}
