@import '/src/css/tailwind.css';

@font-face {
  font-family: 'Pretendard Variable';
  font-style: normal;
  font-weight: 45 920;
  font-display: swap;
  src: url('/fonts/PretendardVariable.ttf') format('truetype-variations'); /* 경로를 확인 */
}

html {
  margin: 0;
  padding: 0;
  height: 100vh;
}

body {
  margin: 0 auto;
  padding: 0;
  height: 100vh;
  min-width: 375px;
  max-width: 500px;
  font-family: 'Pretendard Variable'; /* 기본 폰트 적용 */
}

#root {
  height: 100%;
  position: relative;
}

.scroll::-webkit-scrollbar,
#root::-webkit-scrollbar,
::-webkit-scrollbar {
  display: none; /* 모든 스크롤바 비활성화 */
}

input[type='date']::-webkit-calendar-picker-indicator {
  position: absolute;
  /* //왼쪽위에 위치시키고 클릭 영역을 부모(input)의 크기만큼 가짐 */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  /* // 배경과 글자를 투명하게 하여 기존의 아이콘이 없는 것처럼 보여줌 */
  background: transparent;
  color: transparent;
}
